[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
    "pip install uv",
    "cd .. && uv pip install --system ./shared ./jobflow_api"
]

[start]
cmd = "uvicorn jobflow_api.main:app --host 0.0.0.0 --port ${PORT:-8000}"
